<div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="main">
                    <h4>Welcome to Axis Bank <br>
                    <h5>{{aim}}</h5></h4><br>
                <input type="text" placeholder="Account number" [value]=acno class="text" #accno ><br><br>
                <input type="password" placeholder="password" class="text" #pswd><br><br>
                <input type="button" value="Login" class="button butefct" (click)="login(accno,pswd)"><br><br>
            
                <a href="#">Forgotten password?</a>
                <input type="button" value="Create new Account" class="button butefct"><br><br>   
                </div>
            </div>
            <div class="col-4"></div>
        </div>
</div>

